# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GameJam.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\drewv\OneDrive\Desktop\Wilmer\GameJam\.idea\.idea.GameJam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
